TARGET_PATH="/tmp/test"
TARGET_EXT="java"
TARGET_MODE="java"
TARGET_CHAR="utf8"
POSTGRESQL_VERSION=
ORAFCE_VERSION=
OUTPUT_DIR_NAME="java_test"
STDERR_OUTPUT_FLAG=""
STDERR_FILE_NAME=""
INCLUDE_DIRECTORY_NAME=""
#USE_GROUP_REPLACEMENT_CANDIDATE="y"
